.logo-margin {
    margin:  10px 5px 5px 15px;
    }
    
    ion-header{
    --ion-background-color: #005FAC;
    background-color: #005FAC;
    }
    
    .primary-background-color{
    --background: #005FAC;
    // font-size: 18px;
    text-transform: capitalize;
    }