ion-header{
    --ion-background-color: #005FAC;
    background-color: #005FAC;
  }
  
  .primary-background-color{
    --background: #005FAC;
  }
  
  .logo-margin {
    margin:  10px 5px 5px 15px;
  }