<ion-header>
  <table width=100%>
    <tr>
      <td><ion-icon class="icon-header" name="arrow-back" routerLink="/login" routerDirection="backward"></ion-icon></td>
    </tr>
  </table>
</ion-header>
<br><br><br><br><br>
<ion-content>
  <form (ngSubmit)="ResetPassword()">
  <div style="background-color:#ffff;text-align: center;">
    <label style="font-size: large;color: blue;"><b>Reset Password</b></label>
    <br><br>
    <br>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input required type="email" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-button expand="block" style="float: center; margin-top: 25px;" type="submit">
        Reset Password
    </ion-button>
  </div>
  </form>
</ion-content>