<ion-header>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <br><br><br><br>
    <img height="100px" src="/assets/sukses-permohonan.png" />
    <br>
    <label style="font-size: small;color: black;"><b>Akun Anda Telah Berhasil <br> Dibuat!</b></label>
    <br><br>
    <label style="text-align: center; font-size: small;color: lightslategrey;">Mohon menunggu email aktivasi akun sebelum<br>mengajukan permohonan<br>Informasi Publik dan Keberatan</label>
  </div>
</ion-content>
    
<ion-footer class="ion-no-border">
  <section class="full-width">
    <ion-card expand="block" routerLink="/home" routerDirection="forward">
      <div style="background-color:#005FAC;text-align: center;">
        <br>
        <label style="font-size: small;color: white;"><b>Selesai</b></label>
        <br><br>
      </div>
    </ion-card>
  </section>
</ion-footer>